# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
+ Scala
+ SQL
+ Java
+ R

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|-----|
| TensorFlow 
| Jupyter Notebook 
| RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

Objectives:
+

## Author

Akolade James IBIJOLA